.dark {
  --background: #020617;
  --background-hover: #0f172a;
  --foreground: #f8fafc;
  --placeholder: #334155;

  --card: #0f172a;
  --card-foreground: #f8fafc;
  --card-hover: #161f32;

  --muted: #1e293b;
  --muted-foreground: #94a3b8;

  --border: #1e293b;
  --input: #1e293b;

  --primary: #3b82f6;
  --primary-foreground: #fafafa;
  --primary-hover: #1d4ed8;

  --secondary: #1e293b;
  --secondary-foreground: #f8fafc;
  --secondary-hover: #0f172a;

  --accent: #1e3a8a;
  --accent-foreground: #bfdbfe;

  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --destructive-hover: #b91c1c;

  --success: #065f46;
  --success-text: #bbf7d0;

  --warning: #a16207;
  --warning-text: #fef08a;

  --info: #0369a1;
  --info-text: #bae6fd;

  --error: #b91c1c;
  --error-text: #fecaca;

  --ring: #3b82f6;

  --status-green: #bbf7d0;
  --status-green-text: #15803d;

  --status-red: #fecaca;
  --status-red-text: #b91c1c;
}
