:root {
  --background: #eff6ff;
  --foreground: #0f172a;

  --card: #fafafa;
  --card-foreground: #0f172a;

  --muted: #eff6ff;
  --muted-foreground: #64748b;

  --border: #e2e8f0;
  --input: #e2e8f0;

  --primary: #3b82f6;
  --primary-foreground: #fafafa;

  --secondary: #dbeafe;
  --secondary-foreground: #172554;

  --accent: #eff6ff;
  --accent-foreground: #1e40af;

  --destructive: #ef4444;
  --destructive-foreground: #fafafa;

  --success: #d1fae5;
  --success-text: #065f46;

  --warning: #fef3c7;
  --warning-text: #92400e;

  --info: #e0f2fe;
  --info-text: #075985;

  --error: #fee2e2;
  --error-text: #991b1b;

  --ring: #3b82f6;
}
