:root {
  --background: #eff6ff;
  --background-hover: #dbeafe;
  --foreground: #0f172a;
  --placeholder: #cbd5e1;

  --card: #fafafa;
  --card-foreground: #0f172a;
  --card-hover: #eef1f5;

  --muted: #e2e8f0;
  --muted-foreground: #64748b;

  --border: #e2e8f0;
  --input: #e2e8f0;

  --primary: #3b82f6;
  --primary-foreground: #fafafa;
  --primary-hover: #60a5fa;

  --secondary: #dbeafe;
  --secondary-foreground: #172554;
  --secondary-hover: #bfdbfe;

  --accent: #eff6ff;
  --accent-foreground: #1e40af;

  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --destructive-hover: #f87171;

  --success: #dcfce7;
  --success-text: #166534;

  --warning: #fef9c3;
  --warning-text: #854d0e;

  --info: #e0f2fe;
  --info-text: #075985;

  --error: #fee2e2;
  --error-text: #991b1b;

  --ring: #3b82f6;

  --status-green: #dcfce7;
  --status-green-text: #166534;

  --status-red: #fee2e2;
  --status-red-text: #991b1b;
}
