:root {
  --background: #eff6ff;
  --foreground: #0f172a;

  --card: #fafafa;
  --card-foreground: #0f172a;

  --muted: #eff6ff;
  --muted-foreground: #64748b;

  --border: #e2e8f0;
  --input: #e2e8f0;

  --primary: #3b82f6;
  --primary-foreground: #fafafa;

  --secondary: #dbeafe;
  --secondary-foreground: #172554;

  --accent: #eff6ff;
  --accent-foreground: #1e40af;

  --destructive: #ef4444;
  --destructive-foreground: #fafafa;

  --success: #d1fae5;
  --warning: #fef3c7;
  --info: #e0f2fe;
  --error: #fee2e2;

  --ring: #3b82f6;
}
