@theme {
  --color-background: var(--background);
  --color-background-hover: var(--background-hover);
  --color-foreground: var(--foreground);
  --color-placeholder: var(--placeholder);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-hover: var(--card-hover);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-input: var(--input);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-hover: var(--destructive-hover);

  --color-success: var(--success);
  --color-success-text: var(--success-text);

  --color-warning: var(--warning);
  --color-warning-text: var(--warning-text);

  --color-info: var(--info);
  --color-info-text: var(--info-text);

  --color-error: var(--error);
  --color-error-text: var(--error-text);

  --color-ring: var(--ring);

  --color-status-green: var(--status-green);
  --color-status-green-text: var(--status-green-text);

  --color-status-red: var(--status-red);
  --color-status-red-text: var(--status-red-text);
}
